.account-information {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 40px;
    width: 420px;

    label {
        font-size: 14px;
        color: $grey7;
    }
    p {
        height: 40px;
        width: 400px;
        padding: 0 10px;
        margin: 10px 0 25px 0;
        line-height: 40px;
        border-radius: 10px;
        background-color: $grey1;
        font-size: 12px;
        color: $grey5;
        cursor: not-allowed;
    }
    input {
        height: 40px;
        width: 400px;
        padding: 0 10px;
        margin: 10px 0 25px 0;
        line-height: 40px;
        border-radius: 10px;
        background-color: $grey1;
        border: none;
        font-size: 12px;
        color: $grey5;
    }
    input:-webkit-autofill {
        border: none !important;
        -webkit-text-fill-color: $grey7 !important;
        background: none;
        background-color: $grey4 !important;
    }
    .account-save {
        align-self: flex-end;
        margin: 0 0 30px 0;
    }
    .account-save:disabled {
        cursor: not-allowed;
    }
    div {
        display: flex;
        align-items: center;
        
        .account-signout {
            align-self: flex-start;
            margin: 0 25px 0 0;
        }
        .account-delete {
            align-self: flex-start;
        }
    }
}