.data-table {
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
    width: 100%;

    td, th {
        min-width: 70px;
        text-align: left;
        overflow-x: auto;
    }
    td:not(:last-child) {
        border-right: 1px $mid-grey2 solid;
        border-top: 1px $mid-grey2 solid;
    }
    th:not(:last-child) {
        border-right: 1px $mid-grey2 solid;
        border-bottom: 1px $mid-grey2 solid;
    }
    td:last-child {
        border-left: 1px $mid-grey2 solid;
        border-top: 1px $mid-grey2 solid;
    }
    th:last-child {
        border-left: 1px $mid-grey2 solid;
        border-bottom: 1px $mid-grey2 solid;
    }
    th {
        font-size: 12px;
        height: 20px;
        padding: 8px;
    }
    td {
        font-size: 10px;
        height: 15px;
        padding: 5px;
    }
    tr:nth-child(even) {
        background-color: #F4F4F4;
    }
}

.item-header {
    display: flex;
    align-items: center;
    min-width: 140px;
    margin: 5px 10px 5px 0;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    
    img {
        height: 12px;
        width: 12px;
        margin: 0 0 0 8px;
    }
    .item-header-link {
        text-decoration: none;
        width: 80px;
        margin: 0 20px 0 0;

        .item-header-title {
            padding: 0 0 0 8px;
            font-size: 12px;
            width: 80px;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
        }
        .item-header-title-selected {
            color: $blue1;
        }
        .item-header-title-unselected {
            color: $dark-grey1;
        }
    }
    .item-header-close {
        font-size: 14px;
        cursor: pointer;
    }
    .item-header-close:hover {
        background-color: white;
        border-radius: 10px;
    }
}

.item-header:hover {
    background-color: $light-grey1;
}

.model {
    div {
        display: flex;
        align-items: center;

        .model-configuration {
            width: 200px;
            font-size: 12px;
            color: $dark-grey1;
        }
        .model-value {
            width: 50px;
            height: 30px;
            border-radius: 10px;
            border: 1px $mid-grey2 solid;
            background-color: $light-grey1;
            text-align: center;
            line-height: 35px;
            font-size: 12px;
        }
    }
}

.item-feed-card-card {
    display: flex;
    
    .item-feed-card-bar {
        height: 405px;
        margin: 0 20px 0 0; 
        @include not-selectable();
    }
    .item-feed-card-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 15px 0;
        border-radius: 10px;

        .item-feed-card-picture {
            height: 200px;
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
        .item-feed-card-heading {
            display: flex;
            align-items: center;

            img {
                height: 20px;
                width: 20px;
            }
            .item-feed-card-title {
                font-size: 24px;
                width: fit-content;
                margin: 10px 15px;
                text-decoration: none;
                color: $dark-grey1;
                font-family: 'Poppins', sans-serif;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                line-clamp: 1; 
                -webkit-box-orient: vertical;
            }
        }
        .item-feed-card-title:hover {
            color: $blue1;
        }
        .item-feed-card-description {
            font-size: 13px;
            margin: 25px 15px 40px 15px;
            letter-spacing: 0.05mm;
            color: $dark-grey1;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2; 
            -webkit-box-orient: vertical;
        }
        div {
            display: flex;
            align-items: center;
            margin: 0 0 0 15px;
    
            .item-feed-card-meta {
                margin: 0 15px 0 0;
                color: $dark-grey2;
                font-size: 12px;
            }
            .item-feed-card-meta:nth-child(2) {
                flex: 1;
            }
            .item-feed-card-upvotes {
                margin: 0 15px 0 8px;
                font-size: 14px;
                cursor: default;
                @include not-selectable()
            }
            .item-feed-card-icon {
                margin: 0 0 0 15px;
                font-size: 22px;
                cursor: pointer;
            }
        }
    }
    .item-feed-card-body:hover {
        background-color: $light-grey2;
    }
}

.shortcut-items-container {
    height: fit-content;
    background-color: $light-grey2;
    border: 1px solid $mid-grey2;
    border-radius: 10px;
    margin: 0 0 20px 0;

    .shortcut-items-heading {
        display: flex;
        align-items: center;
        margin: 0 15px;
        
        p {
            font-weight: 500;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1; 
            -webkit-box-orient: vertical;
            @include not-selectable()
        }
        .shortcut-items-new-workspace-icon {
            font-size: 20px;
            color: $blue1;
        }
    }
    .shortcut-items-list {
        display: flex;
        flex-direction: column;
        padding: 15px 0;
        border-top: 1px solid $mid-grey2;

        .shortcut-items-list-none {
            margin: 0 0 0 15px;
            font-size: 12px;
        }
        .shortcut-list-item {
            display: flex;
            align-items: center;
            height: 36px;
            margin: 7px 15px;
            text-decoration: none;
            
            img {
                height: 36px;
                width: 36px;
                border-radius: 5px;
                margin: 0 15px 0 0;
                object-fit: cover;
            }
            p {
                font-size: 14px;
                color: $dark-grey1;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                line-clamp: 1; 
                -webkit-box-orient: vertical;
            }
        }
        .shortcut-items-all {
            margin: 15px auto 0 auto;
            color: $blue2;
            text-decoration: none;
            font-size: 14px;
            font-family: 'Poppins', sans-serif;
            cursor: pointer;
        }
    }
}

.item-square-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 15px 30px 15px;
    padding: 0 0 15px 0;
    border-radius: 10px;

    .item-square-card-picture {
        height: 200px;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        text-decoration: none;
        @include not-selectable();
    }
    .item-square-card-heading {
        display: flex;
        align-items: center;
        margin: 0 15px 10px 15px;

        img {
            height: 18px;
            width: 18px;
            margin: 15px 0 10px 0;
        }
        .item-square-card-title {
            font-size: 18px;
            margin: 15px 0 10px 15px;
            color: $dark-grey1;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            width: fit-content;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1; 
            -webkit-box-orient: vertical;
        }
    }
    .item-square-card-title:hover {
        color: $blue1;
    }
    div {
        display: flex;
        align-items: center;
        margin: 0 0 0 15px;

        .item-square-card-meta {
            margin: 0 15px 0 0;
            color: $dark-grey2;
            font-size: 12px;
        }
        .item-square-card-meta:nth-child(2) {
            flex: 1;
        }
    }
    .item-square-card-upvotes {
        margin: 0 15px 0 8px;
        font-size: 14px;
        cursor: default;
        @include not-selectable()
    }
    .item-square-card-icon {
        margin: 0 0 0 15px;
        font-size: 22px;
        cursor: pointer;
    }
    .item-square-card-visibility {
        color: $dark-grey1;
        font-size: 20px;
        cursor: pointer;
    }
    .item-square-card-bottom {
        margin: 0 15px 0 auto;
    }
    .item-square-card-other {
        margin: 20px -10px 0 0;
    }
}
.item-square-card:hover {
    background-color: $light-grey2;
}

.item-row-card {
    width: 100%;
    height: 100px;
    display: flex;
    text-decoration: none;
    align-items: center;
    margin: 0 15px;
    padding: 10px 15px;
    border-radius: 10px;

    .item-row-card-picture {
        height: 90px;
        width: 90px;
        border-radius: 10px;
        object-fit: cover;
        text-decoration: none;
        @include not-selectable();
    }
    .item-row-card-information {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .item-row-card-heading {
            display: flex;
            align-items: center;

            img {
                height: 18px;
                width: 18px;
                margin: 0 0 10px 0;
            }
            .item-row-card-title {
                font-size: 18px;
                margin: 0 15px 10px 15px;
                color: $dark-grey1;
                font-family: 'Poppins', sans-serif;
                text-decoration: none;
                width: fit-content;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                line-clamp: 1; 
                -webkit-box-orient: vertical;
            }
        }
        .item-row-card-title:hover {
            color: $blue1;
        }
        div {
            .item-row-card-meta {
                margin: 0 20px 0 0;
                color: $dark-grey2;
                font-size: 12px;
            }
        }
    }
    div {
        display: flex;
        align-items: center;
        margin: 0 0 0 15px;

        .item-row-card-upvotes {
            margin: 0 0 0 8px;
            font-size: 14px;
            cursor: default;
            @include not-selectable()
        }
        .item-row-card-icon {
            margin: 0 0 0 10px;
            font-size: 22px;
            cursor: pointer;
        }
        .item-row-card-visibility {
            color: $dark-grey1;
            font-size: 20px;
            margin: 0 15px 0 20px;
            cursor: pointer;
        }
    }
}

.item-row-card:hover {
    background-color: $light-grey2;
}