.item-header {
    display: flex;
    align-items: center;
    max-width: 170px;
    margin: 5px 5px 5px 0;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    
    img {
        height: 12px;
        width: 12px;
        margin: 0 0 0 8px;
    }
    .item-header-link {
        text-decoration: none;
        max-width: 110px;
        width: fit-content;
        margin: 0 10px 0 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1; 
        -webkit-box-orient: vertical;

        .item-header-title {
            padding: 0 0 0 8px;
            font-size: 12px;
            max-width: 110px;
            width: fit-content;
            color: $grey5;
            cursor: pointer;
        }
        .item-header-title-selected {
            color: $grey7;
        }
    }
    .item-header-close {
        font-size: 14px;
        color: $grey1;
        margin: 0 5px 0 0;
        cursor: pointer;
    }
    .item-header-close:hover {
        background-color: white;
        border-radius: 10px;
    }
}
.item-header-selected {
    background-color: $grey4;
}
.item-header:hover {
    background-color: $grey4;
}
.model {
    div {
        display: flex;
        align-items: center;

        .model-configuration {
            width: 200px;
            font-size: 12px;
            color: $grey1;
        }
        .model-value {
            width: 50px;
            height: 30px;
            border-radius: 10px;
            border: 1px $grey2 solid;
            background-color: $grey1;
            text-align: center;
            line-height: 35px;
            font-size: 12px;
        }
    }
}
.create-item-data-header {
    margin: 25px 0 -8px 0;
    color: $grey7;
    font-size: 16px;
}
.shortcut {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    height: fit-content;
    text-decoration: none;
    color: $grey7;
    font-family: 'Poppins', sans-serif;
    padding: 20px 15px 15px 15px;
    border-radius: 10px;

    .shortcut-header {
        display: flex;
        align-items: center;

        .shortcut-link {
            text-decoration: none;
            color: $grey7;
            font-size: 14px;
            margin: 0;
        }
        span {
            flex: 1;
        }
        .shortcut-icon {
            font-size: 18px;
            color: $blue2;
        }
    }
    .shortcut-body {
        margin: 15px 0 0 0;

        .shortcut-none {
            font-size: 14px;
            color: $grey5;
        }
        .shortcut-item {
            display: flex;
            align-items: center;
            text-decoration: none;
            margin: 10px 0;

            img {
                width: 30px;
                height: 30px;
                object-fit: cover;
                border-radius: 8px;
            }
            p {
                font-size: 13px;
                margin: 0 15px;
                color: $grey6;
                font-family: 'Poppins', sans-serif;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                line-clamp: 1; 
                -webkit-box-orient: vertical;
            }
        }
    }
}
.shortcut:hover {
    background-color: $grey2;
}
.item-square-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 30px 30px 0;
    padding: 0 0 15px 0;
    border-radius: 10px;

    .item-square-card-picture {
        height: 150px;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        text-decoration: none;
        @include not-selectable();
    }
    .item-square-card-heading {
        display: flex;
        align-items: center;
        margin: 0 15px 10px 15px;

        img {
            height: 18px;
            width: 18px;
            margin: 15px 0 10px 0;
        }
        .item-square-card-title {
            font-size: 18px;
            margin: 15px 0 10px 15px;
            color: $grey7;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            width: fit-content;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1; 
            -webkit-box-orient: vertical;
        }
    }
    .item-square-card-title:hover {
        color: $blue2;
    }
    div {
        display: flex;
        align-items: center;
        margin: 0 0 0 15px;

        .item-square-card-meta {
            margin: 0 15px 0 0;
            color: $grey5;
            font-size: 12px;
        }
        .item-square-card-meta:nth-child(1) {
            flex: 1;
        }
    }
    .item-square-card-upvotes {
        margin: 0 15px 0 8px;
        font-size: 14px;
        cursor: default;
        @include not-selectable()
    }
    .item-square-card-icon {
        font-size: 22px;
        cursor: pointer;
    }
    .item-square-card-icon:first-child {
        margin: 0 0 0 15px;
    }
    .item-square-card-visibility {
        color: $grey7;
        font-size: 20px;
        cursor: pointer;
    }
    .item-square-card-bottom {
        margin: 20px -10px 0 0;
    }
}
.item-square-card:hover {
    background-color: $grey4;
}
.item-row-card {
    width: 100%;
    height: 100px;
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;

    .item-row-card-picture {
        height: 90px;
        width: 90px;
        border-radius: 10px;
        object-fit: cover;
        text-decoration: none;
        @include not-selectable();
    }
    .item-row-card-information {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .item-row-card-heading {
            display: flex;
            align-items: center;

            img {
                height: 18px;
                width: 18px;
                margin: 0 0 10px 0;
            }
            .item-row-card-title {
                font-size: 18px;
                margin: 0 15px 10px 15px;
                color: $grey7;
                font-family: 'Poppins', sans-serif;
                text-decoration: none;
                width: fit-content;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                line-clamp: 1; 
                -webkit-box-orient: vertical;
            }
        }
        .item-row-card-title:hover {
            color: $blue2;
        }
        div {
            .item-row-card-meta {
                margin: 0 20px 0 0;
                color: $grey5;
                font-size: 12px;
            }
        }
    }
    div {
        display: flex;
        align-items: center;
        margin: 0 0 0 15px;

        .item-row-card-upvotes {
            margin: 0 0 0 8px;
            font-size: 14px;
            cursor: default;
            @include not-selectable()
        }
        .item-row-card-icon {
            margin: 0 0 0 20px;
            font-size: 22px;
            cursor: pointer;
        }
        .item-row-card-visibility {
            color: $grey7;
            font-size: 20px;
            margin: 0 0 0 20px;
            cursor: pointer;
        }
    }
}
.item-row-card:hover {
    background-color: $grey4;
}
.model-node {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include not-selectable();

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        width: fit-content;
        height: 30px;
        padding: 0 10px;
        border-radius: 10px;
        font-size: 12px;
        cursor: pointer;
    }
    .model-node-selected {
        background-color: $blue1;
        border: 1px solid $blue1;
        color: white;
    }
    .model-node-unselected {
        background-color: $grey7;
        border: 1px solid $grey7;
        color: $grey1;
    }
    .model-node-value {
        font-size: 11px;
        margin: 2px 0;
        color: $grey7;
    }
    .model-node-connector {
        height: 25px;
        object-fit: contain;
        margin: 2px 0;
    }
}
.model-node-input {
    margin: 0 20px 0 0;
}
.home-search {
    display: flex;
    align-items: center;
    margin: 30px 15px 20px 15px;
    height: 40px;
    border-radius: 10px;
    background-color: $grey4;

    .home-search-input {
        height: 40px;
        width: 100%;
        border: none;
        background: none;
        padding: 0 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        color: $grey7;
        font-size: 12px;
    }
    .home-search-icon {
        font-size: 20px;
        color: $grey5;
        cursor: pointer;
        margin: 0 10px;
    }
}
.home-options-link {
    display: flex;
    align-items: center;
    margin: 0 15px;
    min-height: 60px;
    text-decoration: none;
    color: $grey7;
    font-family: 'Poppins', sans-serif;
    padding: 0 15px;
    border-radius: 10px;

    p {
        font-size: 14px;
        flex: 1;
    }
    .home-options-icon {
        font-size: 14px;
        color: $blue2;
    }
}
.home-options-link:hover {
    background-color: $grey2;
}
.sidebar-divided {
    margin: 15px;
    border-top: 1px $grey4 solid;
}
.chart {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    background-color: $grey3;
    border-radius: 15px;
    border: 1px $grey4 solid;
    padding: 0 20px 20px 20px;

    .chart-title { 
        color: $grey7;
        margin: 20px auto;
        font-size: 14px;
    }
}
.message-card {
    position: fixed;
    margin: 0 0 20px 0;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 5px 20px;
    background-color: $grey7;
    border-radius: 10px;

    p {
        color: $grey2;
        font-size: 14px;
    }
}