.create-item-title {
    min-height: 40px;
    border: none;
    background: none;
    color: $grey7;
    font-size: 18px;
    overflow-x: auto;
    margin: 5px 15px 0 15px;
}
.create-item-description {
    margin: 15px;
    min-height: fit-content;
    border: none;
    background: none;
    color: $grey7;
    font-size: 12px;
    resize: none;
}
.create-item-setup {
    margin: 15px;
    display: flex;
    align-items: center;

    .create-item-setup-label {
        margin: 0 10px 0 0;
        font-size: 14px;
        color: $grey7;
    }
    .create-item-setup-input {
        margin: 0 20px 0 5px;
        background: none;
        color: $grey7;
    }
}
.create-workspace-uploaded-dataset {
    margin: 15px;
    display: flex;
    align-items: center;

    .create-workspace-import-existing {
        margin: 0;
        min-height: 40px;
        width: 100%;
        border: none;
        background: none;
        color: $grey7;
        font-size: 14px;
    }
    .create-item-view-dataset {
        margin: 0 0 0 10px;
        display: flex;
        color: $grey5;
        text-decoration: none;
        font-size: 13px;
        cursor: pointer;
    }
    .create-item-view-dataset:hover {
        color: $grey7;
    }
    .create-workspace-uploaded-dataset-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 15px;
        border-radius: 10px;

        img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 8px;
        }
        p {
            font-size: 13px;
            margin: 0 15px;
            color: $grey6;
            font-family: 'Poppins', sans-serif;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1; 
            -webkit-box-orient: vertical;
        }
    }
    .create-workspace-uploaded-dataset-link:hover {
        background-color: $grey2;
    }
    .create-item-edit-input {
        background-color: $grey4;
        padding: 0 10px;
        border-radius: 10px;
        font-size: 12px;
        border: 1px $grey2 solid;
    }
}
.create-modelling-body {
    display: flex;
    width: 100%;
    height: 100%;

    .create-model {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 70%;
        align-items: center;
        overflow-x: hidden;
        white-space: nowrap;
        margin: 20px 0 0 0;

        .create-model-diagram {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            -ms-overflow-style: none; 
            scrollbar-width: none;

            .create-model-diagram-node {
                display: flex;
                align-items: flex-start;

                .create-model-diagram-remove {
                    margin: 10px 0 0 8px;
                    color: $grey5;
                    font-size: 12px;
                    cursor: pointer;
                }
                .create-model-diagram-remove:hover {
                    color: $grey7
                }
            }
            .create-model-diagram-add {
                display: flex;
                flex-direction: column;

                .create-model-diagram-add-options {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 90px;
                    height: 90px;
                    margin: 5px 0 20px 0;
                    border-radius: 10px;
                    background-color: $grey1;
                    border: 1px solid $grey1;
                    position: relative;
                    left: 50%;
                    transform: translateX(-60%);

                    button {
                        width: 70px;
                        height: 30px;
                        margin: 10px 0 0 0;
                        border-radius: 10px;
                        background-color: $grey4;
                        border: 1px solid $grey4;
                        color: $grey7;
                        cursor: pointer;
                    }
                }
            }
            .create-model-diagram-add-icon {
                margin: 5px 0 0 0;
                position: relative;
                left: 50%;
                transform: translateX(-105%);
                color: white;
                font-size: 14px;
                border: none;
                padding: 2px;
                border-radius: 11px;
                background-color: $blue1;
                cursor: pointer;
            }
        }
        .create-model-diagram::-webkit-scrollbar {
            display: none;
        }
    }
    .create-model-selected {
        display: flex;
        align-items: center;
        padding: 0 15px;
        max-width: 295px;
        min-width: 295px;
        height: 100px;
        border-radius: 10px;
        background-color: $grey8;
        font-size: 14px;
        margin: 0 0 15px 0;
        
        p {
            font-weight: 500;
            height: 100%;
            width: 55px;
            min-width: 55px;
            line-height: 50px;
            padding: 0 20px 0 0;
            border-right: 1px $grey4 solid;
            color: $grey7;
        }
        .create-model-selected-input {
            display: flex;
            flex-direction: column;
            height: 100%;

            div {
                display: flex;
                align-items: center;
                margin: 10px 0 5px 0;

                label {
                    margin: 0 10px 0 20px;
                    color: $grey6;
                }
                input, select, p {
                    height: 30px;
                    border-radius: 10px;
                    background-color: $grey4;
                    border: 1px solid $grey2;
                    color: $grey7;
                }
                p {
                    width: 78px;
                    margin: 0;
                    padding: 0 10px;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 30px;
                    @include not-selectable()
                }
                input {
                    width: 40px;
                    padding: 0 10px;
                }
                select {
                    height: 32px;
                    width: 100px;
                    padding: 0 5px;
                }
            }
        }
    }
    .create-model-configuration {
        display: flex;
        justify-content: center;
        min-width: 325px;
        max-width: 325px;
        height: fit-content;

        .create-model-configuration-option {
            display: flex;
            flex-direction: column;
            height: 100%;
            min-width: 325px;
            max-width: 325px;
            border-radius: 10px;
            background-color: $grey3;

            div {
                display: flex;
                align-items: center;

                label {
                    font-size: 13px;
                    margin: 0 10px 0 0;
                    min-width: 125px;
                    max-width: 125px;
                    color: $grey7;
                }
                input, select {
                    height: 30px;
                    width: 100%;
                    border-radius: 10px;
                    border: 1px $grey3 solid;
                    background-color: $grey4;
                    color: $grey7;
                }
                input {
                    font-size: 12px;
                    padding: 0 10px;
                }
                select {
                    padding: 0 5px;
                }
                .create-model-configuration-option-checkbox {
                    width: 15px;
                    height: 15px;
                }
            }
            div:not(:last-child) {
                margin: 15px 15px 0 15px;
            }
            div:last-child {
                margin: 15px;
            }
        }
    }
}
.create-workspace-data {
    position: sticky;
    top: 40px;
    right: 0;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    background-color: $grey3;
    max-height: calc(100vh - 40px);
    min-height: calc(100vh - 40px);
    border-left: 1px $grey1 solid;

    .create-workspace-data-header {
        margin: 25px 15px 5px 15px;
        color: $grey7;
        font-size: 16px;
    }
    .create-workspace-data-header-dataset {
        margin: 0 15px;
        height: 30px;
        color: $grey5;
        font-size: 14px;
        overflow-y: hidden;
        overflow-x: auto;
    }
    .create-workspace-data-images-list {
        display: flex;
        flex-direction: column;
        margin: 10px 15px;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        flex: 1;

        .create-workspace-data-image {
            display: flex;
            align-items: center;
            height: 75px;
            width: 100%;
            margin: 0 0 10px 0;
            border-radius: 10px;

            img {
                height: 75px;
                min-width: 75px;
                object-fit: contain;
                object-position: left;
                margin: 0 10px;
            }
            p {
                width: 100%;
                height: 30px;
                margin: 0 10px 0 0;
                padding: 0 8px;
                font-size: 12px;
                line-height: 30px;
                border-radius: 10px;
                color: $grey7;
                background-color: $grey4;
            }
        }
        .create-workspace-data-image:hover {
            background-color: $grey2;
        }
    }
    .create-workspace-data-images-list::-webkit-scrollbar {
        display: none;
    }
    .create-workspace-pagination {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0 15px 15px 15px;
    
        p {
            color: $grey5;  
            font-size: 12px;
            margin: 0 10px;
        }
        .create-workspace-pagination-icon {
            color: $grey7;
            font-size: 14px;
            cursor: pointer;
        }
    }
    .create-dataset-label-input {
        background-color: $grey4;
        min-height: 40px;
        padding: 0 10px;
        border-radius: 10px;
        font-size: 12px;
        margin: 15px;
        color: $grey7;
        border: 1px $grey2 solid;
    }
    .create-dataset-labels-list {
        display: flex;
        flex-wrap: wrap;
        max-height: calc(100vh - 65px);
        overflow-y: auto;
        margin: 0 15px;
        padding: 0 0 25px 0;
        -ms-overflow-style: none;
        scrollbar-width: none;

        .create-dataset-label {
            display: flex;
            align-items: center;
            height: 30px;
            width: fit-content;
            border-radius: 8px;
            margin: 10px 10px 0 0;
            padding: 0 8px 0 10px;
            @include not-selectable();

            p {
                font-size: 12px;
                color: $grey7;
                margin: 0 2px 0 0;
            }
            div {
                display: flex;

                .create-dataset-label-icon {
                    color: $grey7;
                    font-size: 14px;
                    margin: 0 0 0 8px;
                    cursor: pointer;
                }
            }
        }
    }
    .create-dataset-labels-list::-webkit-scrollbar {
        display: none;
    }
}
.create-dataset-upload {
    position: sticky;
    top: 110px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 0 20px 0;
    z-index: 4000;
    background-color: $grey2;

    input {
        background: none;
        color: $grey5;
        max-width: 250px;
        width: 100%;
        margin: 0 20px 0 0;
    }
    button {
        margin: 0 20px 0 0;
    }
    .create-dataset-pagination {
        display: flex;
        align-items: center;
        margin: 0 0 0 auto;
    
        p {
            color: $grey5;  
            font-size: 12px;
            margin: 0 10px;
        }
        .create-dataset-pagination-icon {
            color: $grey7;
            font-size: 14px;
            cursor: pointer;
        }
    }
}
.create-dataset-images-list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 0; 
}
.create-dataset-appended {
    height: fit-content;
    width: calc(100% - 40px);
    margin: 10px 0; 
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    background-color: $grey1;
    
    .create-dataset-appended-header {
        display: flex;
        align-items: center;

        p {
            color: $grey7;
            flex: 1;
        }
        button {
            color: $grey5;
        }
        button:hover {
            color: $grey7;
        }
    }
    .create-dataset-appended-list {
        display: flex;
        flex-wrap: wrap;
    }
    .create-dataset-appended-footer {
        display: flex;
        justify-content: flex-end;
        margin: 20px 0 0 auto;
    }
}
.create-dataset-image {
    width: 170px;
    height: 225px;
    object-fit: cover;
    margin: 20px 20px 0 0;
    background-color: $grey3;
    border: 1px $grey4 solid;
    border-radius: 10px;

    img {
        width: 170px;
        height: 170px;
        object-fit: contain;
        margin: 0 0 10px 0;
        border-bottom: 1px $grey4 solid;
    }
    p, select {
        width: calc(100% - 20px);
        height: 30px;
        margin: 0 10px;
        background-color: $grey4;
        padding: 0 5px;
        color: $grey7;
        border: none;
        border-radius: 8px;
        font-size: 13px;
        line-height: 30px;
    }
    div {
        display: flex;
        align-items: center;

        .create-dataset-image-delete {
            margin: 0 5px 0 -5px;
            color: $grey5;
            cursor: pointer;
        }
    }
}
.create-item-edit-input {
    background-color: $grey4;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 12px;
    margin: 15px;
    border: 1px $grey2 solid;
}
.create-item-edit-textarea {
    background-color: $grey4;
    min-height: 150px;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    margin: 0 15px 15px 15px;
    border: 1px $grey2 solid;
}