.new-sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 100%;
    background-color: $light-grey2;
    border-right: 1px $mid-grey2 solid;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    h1 {
        margin: 30px 30px 0 30px;
    }
    .new-item-header {
        height: 40px;
        margin: 30px 30px 50px 30px;

        .new-item-title {
            @include not-selectable();
            width: 150px;
            white-space: nowrap;
            overflow-x: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            color: $dark-grey1;
        }
        .new-item-title::-webkit-scrollbar {
            display: none;
        }
    }
    .new-sidebar-stage {
        @include not-selectable();
        width: 150px;
        height: 60px;
        border-radius: 10px;
        margin: 8px 30px;
        cursor: pointer;
    }
    .new-sidebar-stage:disabled {
        cursor: default;
    }
    .new-sidebar-stage-selected {
        border: none;
        background-color: $blue1;
        text-align: start;
        font-size: 16px;
        color: white;
        padding: 0 0 0 30px;
    }
    .new-sidebar-stage-unselected {
        border: 1px $mid-grey2 solid;
        background-color: $light-grey1;
        text-align: start;
        font-size: 16px;
        color: $dark-grey1;
        padding: 0 0 0 30px;
    }
}
.new-sidebar::-webkit-scrollbar {
    display: none;
}

.new-item-setup-information {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 60%;
    margin: 0 auto;

    .new-item-nav {
        margin: 0 0 15px 0;
        display: flex;
        align-items: center;

        p {
            flex: 1;
        }
    }
    .new-item-title {
        min-height: 40px;
        background-color: $light-grey1;
        border: 1px $mid-grey2 solid;
        border-radius: 10px;
        padding: 0 10px;
    }
    .new-item-description {
        min-height: 150px;
        background-color: $light-grey1;
        border: 1px $mid-grey2 solid;
        border-radius: 10px;
        padding: 10px;
        margin: 25px 0 0 0;
        resize: none;
    }
    .new-item-setup-visibility {
        display: flex;
        align-items: center;
        margin: 25px 0 0 0;

        .new-item-setup-visibility-label {
            margin: 0 10px 0 0;
            font-size: 14px;
            color: $dark-grey1;
        }

        input {
            margin: 0 0 0 5px;
        }
    }
}

.new-item-import {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    
    .new-item-import-top {
        display: flex;
        align-items: center;

        .new-workspace-import-existing {
            height: 36px;
            width: 350px;
            margin: 0 15px 0 0;
            padding: 0 10px;
            border: 1px solid $mid-grey2;
            border-radius: 10px;
            background-color: $light-grey1;
        }
        span {
            flex: 1;
        }
    }
    .new-item-data {
        max-height: 80%;
        margin: 25px 0 0 0;

        .new-item-data-information {
            display: flex;
            align-items: center;
            margin: 0 0 25px 0;

            .new-item-filename {
                text-align: left;
                font-size: 14px;
                color: $dark-grey1;
                margin: 0 25px 0 0;
            }
            .new-item-remove {
                height: 30px;
                line-height: 30px;
            }
            span {
                flex: 1;
            }
        }
        .new-item-data-table {
            margin: -20px 0 15px 0;
            overflow-y: auto;
            height: 100%;
            border: 1px solid $mid-grey2;
        }
        .new-item-data-table-pagination {
            display: flex;
            align-items: center;

            .new-item-data-table-pagination-icon {
                font-size: 14px;
                border: 1px solid $mid-grey2;
                background-color: white;
                padding: 5px;
                border-radius: 15px;
                cursor: pointer;
            }
            .new-item-data-table-pagination-icon:first-child {
                margin: 0 20px 0 0;
            }
            .new-item-data-table-pagination-icon:last-child {
                margin: 0 0 0 20px;
            }
            p {
                font-size: 14px;
                color: $dark-grey1;
            }
        }
    }
}

.new-item-cancel {
    margin: 0 20px 0 0;
}
::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif;
    color: $dark-grey1;
}
::-moz-placeholder {
    font-family: 'Poppins', sans-serif;
    color: $dark-grey1;
}
:-ms-input-placeholder {
    font-family: 'Poppins', sans-serif;
    color: $dark-grey1;
}
:-moz-placeholder {
    font-family: 'Poppins', sans-serif;
    color: $dark-grey1;
}
