.project {
    display: flex;
    height: calc(100vh - 41px);

    .sidebar {
        display: flex;
        flex-direction: column;
        width: 180px;
        max-height: 100%;
        background-color: $light-grey2;
        border-right: 1px $mid-grey solid;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;

        h1 {
            margin: 40px 15px;
            height: 30px;
        }
        .project-redeploy {
            width: 125px;
            height: 40px;
            border: none;
            border-radius: 7px;
            background-color: $blue;
            color: white;
            margin: 0 15px;
            cursor: pointer;
        }
        span {
            flex: 1;
        }
        .project-delete {
            width: 120px;
            height: 30px;
            border: 1px $mid-grey solid;
            border-radius: 7px;
            background-color: white;
            color: $dark-grey;
            margin: 15px;
            cursor: pointer;
        }
    }
    .sidebar::-webkit-scrollbar {
        display: none;
    }
    .project-body {
        flex: 1;

        .project-top {
            display: flex;
            align-items: center;
            margin: 40px 40px 40px 20px;

            .project-option {
                width: fit-content;
                height: 30px;
                border: none;
                background-color: white;
                color: $dark-grey;
                margin: 0 15px;
                cursor: pointer;
            }
            .project-option-selected {
                width: fit-content;
                height: 30px;
                border: none;
                background-color: white;
                color: $dark-grey;
                margin: 0 15px;
                text-decoration: underline;
                text-decoration-color: $blue;
                text-decoration-thickness: 2px;
                text-underline-offset: 6px;
                cursor: pointer;
            }
            span {
                flex: 1;
            }
            .project-edit {
                font-size: 18px;
                color: $blue;
                cursor: pointer;
            }
        }
        .project-data {
            margin: 0 40px;
            height: calc(100vh - 191px);
            overflow-y: auto;
            scrollbar-width: none;

            .project-data-table {
                max-height: calc(100vh - 235px);
                margin: 0 40px 0 0;
                overflow-y: auto;
            }
        }
        .project-model {
            margin: 0 40px;
            height: calc(100vh - 191px);
            overflow-y: auto;
            scrollbar-width: none;
        }
        .project-experiment {
            margin: 0 40px;
            height: calc(100vh - 191px);
            overflow-y: auto;
            scrollbar-width: none;
        }
    }
}