.view-items-top {
    position: sticky;
    top: 40px;
    height: fit-content;
    width: 100%;
    z-index: 4000;
    background-color: $grey2;
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;

    h1 {
        margin: 25px 0 0 0;
    }
    div {
        display: flex;
        align-items: center;

        .workspace-create {
            margin: 0 0 0 15px;
        }
    }
    button {
        margin: 5px 0 0 0;  
    }
    .item-header-button-selected {
        color: $grey7;
        margin: 15px 40px auto 0;
    }
    .item-header-button-unselected {
        color: $grey5;
        margin: 15px 40px auto 0;
    }
    span {
        flex: 1;
    }
    .create-dataset-upload {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 20px 0 0 0;
        background-color: $grey2;
    
        input {
            background: none;
            color: $grey5;
            max-width: 250px;
            width: 100%;
            margin: 0 20px 0 0;
        }
        button {
            margin: 0 20px 0 0;
        }
        .create-dataset-pagination {
            display: flex;
            align-items: center;
            margin: 0 0 0 auto;
        
            p {
                color: $grey5;  
                font-size: 12px;
                margin: 0 10px;
            }
            .create-dataset-pagination-icon {
                color: $grey7;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
}
.item-save {
    margin: 20px 15px 60px 15px;
}
.item-delete {
    margin: auto 15px 0 15px;
}
.item-creator {
    margin: 0 15px;
    color: $grey7;
    font-size: 14px;
}
.item-information {
    display: flex;
    align-items: center;
    margin: 0 15px;

    .item-date {
        color: $grey5;
        font-size: 12px;
    }
    span {
        flex: 1;
    }
    .item-icon {
        margin: 0 7px;
        font-size: 20px;
        cursor: pointer;
    }
    .item-icon:last-child {
        margin: 0 7px 0 15px;
    }
    .item-visibility {
        margin: 0 8px 0 15px;
        font-size: 20px;
        color: $grey7;
        cursor: pointer;
    }
}
.item-dataset-page {
    margin: 30px 15px 0 15px;
}
.view-items-results {
    color: $grey5;
    font-size: 14px;
}