@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import "variables";
@import "mixins";
@import "components";
@import "home";
@import "newItem";
@import "item";
@import "signin";
@import "account";
@import "viewItems";

body {
    margin: 0;
}
p {
    font-family: 'Poppins', sans-serif;
}
label {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: $dark-grey1;
}
input, textarea {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: $dark-grey1;
}
.whole-body {
    width: 100%;
}
.width-body {
    display: flex;
    margin: 41px 30px 0 30px;
}
.sidebar-body {
    display: flex;
    height: calc(100vh - 41px);
    margin: 41px 0 0 0;
}
.inner-body {
    position: relative;
    left: 275px;
    display: flex;
    width: calc(100% - 335px);
    margin: 30px;
}
.blue-button {
    width: fit-content;
    height: 36px;
    padding: 0 15px;
    background-color: $blue1;
    border: none;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 36px;
    cursor: pointer;
}
.dark-grey-button {
    width: fit-content;
    height: 36px;
    padding: 0 15px;
    background-color: $dark-grey1;
    border: none;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 36px;
    cursor: pointer;
}
.grey-button {
    width: fit-content;
    height: 36px;
    padding: 0 15px;
    background-color: $light-grey1;
    border-radius: 10px;
    border: 1px $mid-grey2 solid;
    color: $dark-grey1;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 36px;
    cursor: pointer;
}
.white-button {
    width: fit-content;
    height: 36px;
    padding: 0 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px $mid-grey2 solid;
    color: $dark-grey1;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 36px;
    cursor: pointer;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5000;
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px $mid-grey2 solid;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    color: $dark-grey1;

    .header-link {
        display: flex;
        justify-content: center;
        margin: 0 0 0 25px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        color: $dark-grey1;
        @include not-selectable();
    }
    .header-link:nth-child(1) {
        margin: 0 0 0 30px;
    }
    .header-link:nth-child(3) {
        margin: 0 25px;
    }
    .header-link:hover {
        color: $blue2;
    }
    .header-open {
        display: flex;
        width: fit-content;
        margin: 0 10px 0 0;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: thin;
        scrollbar-color: $mid-grey2 white;
        scrollbar-track-color: none;

        p {
            font-size: 12px;
            color: $dark-grey2;
            cursor: default;
        }
    }
    .header-open::-webkit-scrollbar {
        height: 3px;
        cursor: auto;
    }
    .header-open::-webkit-scrollbar-thumb {
        background-color: #dbdbdb;
    }
    span {
        flex: 1;
    }
    .header-account {
        display: flex;
        align-items: center;
        margin: 0 30px 0 0;
        text-decoration: none;
    }
    .header-account p {
        margin: 0 0 0 7px;
        color: $dark-grey1;
    }
    .header-account-icon {
        font-size: 20px;
        color: $dark-grey1;
    }
}
.end-items {
    color: $blue2;
    margin: 25px 0 0 15px;
    @include not-selectable()
}
.load-items {
    color: $blue2;
    margin: 25px 0 0 15px;
    cursor: pointer;
    @include not-selectable()
}
.blue {
    color: $blue2;
}
.grey {
    color: $mid-grey1;
}
.page-not-found {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
}
.item-exist {
    margin: 30vh auto 0 auto;
}