@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.workspace-card {
  width: 200px;
  height: 60px;
  margin: 0 15px 0 0;
  background-color: #F2F2F2;
  border: 1px #E6E5E5 solid;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: #474747;
  line-height: 60px;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  white-space: nowrap;
}

.workspace-data-table {
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  width: 100%;
}

.workspace-data-table td, .workspace-data-table th {
  width: 100px;
  border: 1px #E6E5E5 solid;
  text-align: left;
  overflow-x: auto;
}

.workspace-data-table th {
  height: 20px;
  padding: 8px;
}

.workspace-data-table td {
  height: 15px;
  padding: 5px;
}

.workspace-data-table tr:nth-child(even) {
  background-color: #F4F4F4;
}

.workspace-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 120px;
  margin: 5px 15px 5px 0;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.workspace-header .workspace-header-link {
  text-decoration: none;
  width: 80px;
  margin: 0 20px 0 0;
}

.workspace-header .workspace-header-link .workspace-header-title-selected {
  padding: 0 0 0 8px;
  font-size: 12px;
  color: #2383F3;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.workspace-header .workspace-header-link .workspace-header-title {
  padding: 0 0 0 8px;
  font-size: 12px;
  color: #474747;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.workspace-header .workspace-header-close {
  font-size: 14px;
  cursor: pointer;
}

.workspace-header .workspace-header-close:hover {
  background-color: white;
  border-radius: 10px;
}

.workspace-header:hover {
  background-color: #F2F2F2;
}

.model div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.model div .model-configuration {
  width: 200px;
  font-size: 12px;
  color: #474747;
}

.model div .model-value {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border: 1px #E6E5E5 solid;
  background-color: #F2F2F2;
  text-align: center;
  line-height: 35px;
  font-size: 12px;
}

.feed-workspace-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

.feed-workspace-card img {
  height: 405px;
  margin: 0 20px 0 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.feed-workspace-card .feed-workspace-body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0 0 0;
}

.feed-workspace-card .feed-workspace-body img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.feed-workspace-card .feed-workspace-body .feed-workspace-heading {
  font-size: 24px;
  margin: 10px 15px;
  text-decoration: none;
  color: #474747;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.feed-workspace-card .feed-workspace-body .feed-workspace-heading:hover {
  color: #2383F3;
}

.feed-workspace-card .feed-workspace-body .feed-workspace-description {
  font-size: 13px;
  margin: 25px 15px 40px 15px;
  letter-spacing: 0.05mm;
  color: #474747;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.feed-workspace-card .feed-workspace-body div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 15px;
}

.feed-workspace-card .feed-workspace-body div .feed-workspace-meta {
  margin: 0 15px 0 0;
  color: #6D6D6D;
  font-size: 12px;
}

.feed-workspace-card .feed-workspace-body div .feed-workspace-meta:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.feed-workspace-card .feed-workspace-body div .feed-workspace-upvotes {
  margin: 0 15px 0 8px;
  font-size: 14px;
}

.feed-workspace-card .feed-workspace-body div .feed-workspace-icon {
  margin: 0 0 0 15px;
  font-size: 22px;
  cursor: pointer;
}

.home-my-workspaces-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FBFBFB;
  border: 1px solid #E6E5E5;
  border-radius: 10px;
  margin: 0 0 20px 0;
}

.home-my-workspaces-container .home-my-workspaces-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

.home-my-workspaces-container .home-my-workspaces-heading p {
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.home-my-workspaces-container .home-my-workspaces-heading .home-my-workspaces-new-workspace-icon {
  font-size: 20px;
  color: #2383F3;
}

.home-my-workspaces-container .home-my-workspaces-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 0;
  border-top: 1px solid #E6E5E5;
}

.home-my-workspaces-container .home-my-workspaces-list .home-my-workspaces-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin: 0 15px;
  text-decoration: none;
}

.home-my-workspaces-container .home-my-workspaces-list .home-my-workspaces-item img {
  height: 36px;
  width: 36px;
  border-radius: 5px;
  margin: 0 15px 0 0;
}

.home-my-workspaces-container .home-my-workspaces-list .home-my-workspaces-item p {
  font-size: 14px;
  color: #474747;
}

.home-my-workspaces-container .home-my-workspaces-list .home-my-workspaces-all {
  margin: 15px auto 0 auto;
  color: #5293DF;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.workspace-square-card {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 15px 30px 15px;
  padding: 0 0 15px 0;
  border-radius: 10px;
}

.workspace-square-card img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.workspace-square-card .workspace-square-card-heading {
  font-size: 18px;
  margin: 15px 15px 10px 15px;
  color: #474747;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.workspace-square-card .workspace-square-card-heading:hover {
  color: #2383F3;
}

.workspace-square-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 15px;
}

.workspace-square-card div .workspace-square-card-visibility {
  color: #474747;
  font-size: 20px;
  margin: 0 15px 0 0;
}

.workspace-square-card div .workspace-square-card-meta {
  margin: 0 15px 0 0;
  color: #6D6D6D;
  font-size: 12px;
}

.workspace-square-card div .workspace-square-card-meta:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.workspace-square-card .workspace-square-card-upvotes {
  margin: 0 15px 0 8px;
  font-size: 14px;
}

.workspace-square-card .workspace-square-card-icon {
  margin: 0 0 0 15px;
  font-size: 22px;
  cursor: pointer;
}

.workspace-square-card .workspace-square-card-other {
  margin: 20px -10px 0 0;
}

.workspace-square-card:hover {
  background-color: #FBFBFB;
}

.workspace-row-card {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
  padding: 10px 15px;
  border-radius: 10px;
}

.workspace-row-card img {
  height: 90px;
  width: 90px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.workspace-row-card .workspace-row-card-information {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.workspace-row-card .workspace-row-card-information .workspace-row-card-heading {
  font-size: 18px;
  margin: 0 15px 10px 15px;
  color: #474747;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.workspace-row-card .workspace-row-card-information .workspace-row-card-heading:hover {
  color: #2383F3;
}

.workspace-row-card .workspace-row-card-information div .workspace-row-card-visibility {
  color: #474747;
  font-size: 20px;
  margin: 0 15px 0 0;
}

.workspace-row-card .workspace-row-card-information div .workspace-row-card-meta {
  margin: 0 20px 0 0;
  color: #6D6D6D;
  font-size: 12px;
}

.workspace-row-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 15px;
}

.workspace-row-card div .workspace-row-card-upvotes {
  margin: 0 0 0 8px;
  font-size: 14px;
}

.workspace-row-card div .workspace-row-card-icon {
  margin: 0 0 0 10px;
  font-size: 22px;
  cursor: pointer;
}

.workspace-row-card:hover {
  background-color: #FBFBFB;
}

.home-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
  height: 40px;
  border: 1px solid #E6E5E5;
  border-radius: 10px;
  background-color: #F2F2F2;
}

.home-search .home-search-input {
  height: 40px;
  width: 100%;
  border: none;
  background: none;
  padding: 0 10px;
  border-radius: 10px;
}

.home-search .home-search-icon {
  font-size: 26px;
  color: #C4C4C4;
  cursor: pointer;
  margin: 0 10px;
}

.home-left-column {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 81px);
  max-width: 325px;
  width: 100%;
  min-width: 250px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.home-left-column::-webkit-scrollbar {
  display: none;
}

.home-filter-workspaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 0;
  height: 40px;
  background-color: #FBFBFB;
  border: 1px solid #E6E5E5;
  border-radius: 10px;
  padding: 0 15px;
  cursor: pointer;
  text-decoration: none;
}

.home-filter-workspaces .home-filter-workspaces-heading {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  line-height: 40px;
  text-decoration: none;
  color: #474747;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.home-filter-workspaces .home-filter-workspaces-icon {
  font-size: 14px;
  color: #474747;
}

.home-middle-column {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 650px;
  width: 50%;
  min-width: 400px;
}

.home-middle-column .home-feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-middle-column .home-feed p {
  color: #5293DF;
}

.home-right-column {
  position: fixed;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 325px;
  width: 100%;
  min-width: 250px;
  margin: 0 0 0 auto;
}

.new-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 41px);
}

.new-project .sidebar {
  width: 180px;
  max-height: 100%;
  background-color: #FBFBFB;
  border-right: 1px #E6E5E5 solid;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.new-project .sidebar h1 {
  margin: 40px 15px;
}

.new-project .sidebar .new-project-header {
  height: 40px;
  margin: 0 15px 20px 15px;
}

.new-project .sidebar .new-project-header .new-project-title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 150px;
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: #474747;
}

.new-project .sidebar .new-project-header .new-project-title::-webkit-scrollbar {
  display: none;
}

.new-project .sidebar .sidebar-substage {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  margin: 12px 0 12px 40px;
  padding: 0 0 0 10px;
  cursor: pointer;
}

.new-project .sidebar .sidebar-substage:disabled {
  cursor: default;
}

.new-project .sidebar .sidebar-substage-selected {
  border-left: 1px #474747 solid;
}

.new-project .sidebar .sidebar-stage {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  margin: 8px 15px;
  cursor: pointer;
}

.new-project .sidebar .sidebar-stage:disabled {
  cursor: default;
}

.new-project .sidebar .sidebar-stage-selected {
  border: none;
  background-color: #2383F3;
  text-align: start;
  font-size: 16px;
  color: white;
  padding: 0 0 0 15px;
}

.new-project .sidebar .sidebar-stage-unselected {
  border: 1px #E6E5E5 solid;
  background-color: #F2F2F2;
  text-align: start;
  font-size: 16px;
  color: #474747;
  padding: 0 0 0 15px;
}

.new-project .sidebar::-webkit-scrollbar {
  display: none;
}

.new-project .new-project-setup {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 15vh 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new-project .new-project-setup .new-project-setup-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  width: 60%;
}

.new-project .new-project-setup .new-project-setup-information .new-project-title {
  height: 40px;
  background-color: #FBFBFB;
  border: 1px #E6E5E5 solid;
  border-radius: 10px;
  padding: 0 10px;
}

.new-project .new-project-setup .new-project-setup-information .new-project-description {
  height: 150px;
  background-color: #FBFBFB;
  border: 1px #E6E5E5 solid;
  border-radius: 10px;
  padding: 10px;
  margin: 25px 0 0 0;
  resize: none;
}

.new-project .new-project-setup .new-project-setup-information .new-project-setup-visibility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0 0 0;
}

.new-project .new-project-setup .new-project-setup-information .new-project-setup-visibility .new-project-setup-visibility-label {
  margin: 0 10px 0 0;
  font-size: 14px;
  color: #474747;
}

.new-project .new-project-setup .new-project-setup-information .new-project-setup-visibility input {
  margin: 0 0 0 5px;
}

.new-project .new-project-import {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 15vh 0 0 0;
  text-align: center;
}

.new-project .new-project-import .new-project-import-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 50px 0;
}

.new-project .new-project-import .new-project-import-options p {
  font-size: 16px;
  margin: 0 15px 0 0;
}

.new-project .new-project-import .new-project-import-options button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 15px;
  height: 30px;
  border: none;
  border-radius: 7px;
  background-color: #2383F3;
  color: white;
  margin: 0 15px;
  cursor: pointer;
}

.new-project .new-project-import .new-project-import-method {
  height: 100px;
}

.new-project .new-project-import .new-project-import-method .new-project-import-projectid {
  height: 40px;
  background-color: #FBFBFB;
  border: 1px #E6E5E5 solid;
  border-radius: 10px;
  padding: 0 10px;
  max-width: 300px;
  width: 60%;
  margin: 0 25px 0 0;
}

.new-project .new-project-import .new-project-data {
  width: 90%;
  margin: 25px auto 0 auto;
}

.new-project .new-project-import .new-project-data .new-project-filename {
  text-align: left;
  margin: 0 25px 0 0;
}

.new-project .new-project-import .new-project-data .new-project-data-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 25px 0;
}

.new-project .new-project-import .new-project-data .new-project-data-table {
  max-height: calc(100vh - 600px);
  overflow-y: auto;
}

.new-project .new-project-nav {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-project .new-project-cancel {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  padding: 0 15px;
  color: #474747;
  border: 1px #E6E5E5 solid;
  border-radius: 10px;
  background-color: white;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin: 0 20px 0 0;
}

.new-project .new-project-next {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  padding: 0 15px;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #2383F3;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.new-project ::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: #474747;
}

.new-project ::-moz-placeholder {
  font-family: 'Poppins', sans-serif;
  color: #474747;
}

.new-project :-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: #474747;
}

.new-project :-moz-placeholder {
  font-family: 'Poppins', sans-serif;
  color: #474747;
}

.sidebar {
  width: 180px;
  max-height: 100%;
  background-color: #FBFBFB;
  border-right: 1px #E6E5E5 solid;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar h1 {
  margin: 40px 15px;
}

.sidebar .new-project-header {
  height: 40px;
  margin: 0 15px 20px 15px;
}

.sidebar .new-project-header .new-project-title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 150px;
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: #474747;
}

.sidebar .new-project-header .new-project-title::-webkit-scrollbar {
  display: none;
}

.sidebar .sidebar-substage {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  margin: 12px 0 12px 40px;
  padding: 0 0 0 10px;
  cursor: pointer;
}

.sidebar .sidebar-substage:disabled {
  cursor: default;
}

.sidebar .sidebar-substage-selected {
  border-left: 1px #474747 solid;
}

.sidebar .sidebar-stage {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  margin: 8px 15px;
  cursor: pointer;
}

.sidebar .sidebar-stage:disabled {
  cursor: default;
}

.sidebar .sidebar-stage-selected {
  border: none;
  background-color: #2383F3;
  text-align: start;
  font-size: 16px;
  color: white;
  padding: 0 0 0 15px;
}

.sidebar .sidebar-stage-unselected {
  border: 1px #E6E5E5 solid;
  background-color: #F2F2F2;
  text-align: start;
  font-size: 16px;
  color: #474747;
  padding: 0 0 0 15px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.other-workspace-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 990px;
  min-width: 990px;
  margin: 0 auto;
}

.other-workspace-body .other-workspace-top {
  margin: 0 0 50px 0;
}

.other-workspace-body .other-workspace-top img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.other-workspace-body .other-workspace-top div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.other-workspace-body .other-workspace-top div .other-workspace-meta {
  margin: 0 20px 0 0;
  color: #6D6D6D;
  font-size: 12px;
}

.other-workspace-body .other-workspace-top div .other-workspace-meta:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.other-workspace-body .other-workspace-top div .other-workspace-upvotes {
  margin: 0 0 0 8px;
  font-size: 14px;
}

.other-workspace-body .other-workspace-top div .other-workspace-icon {
  margin: 0 0 0 15px;
  font-size: 22px;
  cursor: pointer;
}

.other-workspace-body .other-workspace-top .other-workspace-description {
  font-size: 13px;
  margin: 25px 0 40px 0;
  letter-spacing: 0.05mm;
  color: #474747;
}

.other-workspace-body .other-workspace-top .other-workspace-select {
  padding: 5px 10px 5px 5px;
  border-radius: 5px;
  border: 1px solid #E6E5E5;
  background-color: white;
}

.signin-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 25px;
  padding: 25px 25px 25px 0;
  max-width: 300px;
  min-width: 200px;
  min-height: calc(100vh - 50px);
  border-right: 1px #E6E5E5 solid;
}

.signin-side h1 {
  font-size: 24px;
  margin: 0 0 50px 0;
}

.signin-side label {
  margin: 25px 0 10px 0;
  color: #474747;
}

.signin-side input {
  height: 40px;
  background-color: #FBFBFB;
  border: 1px #E6E5E5 solid;
  border-radius: 10px;
  padding: 0 10px;
}

.signin-side button {
  margin: 50px 0 0 0;
  width: 110px;
  height: 40px;
  border: none;
  border-radius: 7px;
  background-color: #2383F3;
  color: white;
  cursor: pointer;
}

.signin-side div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 100px 0 0 0;
}

.signin-side div p {
  margin: 0 10px 0 0;
  font-size: 14px;
  color: #474747;
}

.signup-button {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  cursor: pointer;
  color: #2383F3;
  border: none;
  background: none;
}

.account-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  background-color: #FBFBFB;
  border: 1px solid #E6E5E5;
  border-radius: 10px;
}

.account-information h1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 15px;
}

.account-information label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 15px;
  font-size: 14px;
  color: #474747;
}

.account-information p {
  height: 40px;
  width: 400px;
  padding: 0 10px;
  margin: 10px 0 25px 0;
  line-height: 40px;
  border-radius: 10px;
  background-color: #F2F2F2;
  border: 1px #E6E5E5 solid;
  font-size: 12px;
  color: #474747;
  cursor: not-allowed;
}

.account-information .account-form {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 20px 0;
}

.account-information .account-form input {
  height: 40px;
  width: 400px;
  padding: 0 10px;
  margin: 10px 15px 25px 15px;
  line-height: 40px;
  border-radius: 10px;
  background-color: #F2F2F2;
  border: 1px #E6E5E5 solid;
  font-size: 12px;
  color: #474747;
}

.account-information .account-form button:disabled {
  cursor: not-allowed;
}

.account-information button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 15px 15px 15px;
}

.view-workspaces-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 990px;
  min-width: 990px;
  margin: 0 auto;
}

.view-workspaces-body .view-workspaces-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px 30px 15px;
  height: 40px;
  border: 1px solid #E6E5E5;
  border-radius: 10px;
  background-color: #F2F2F2;
}

.view-workspaces-body .view-workspaces-search .view-workspaces-search-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  border: none;
  background: none;
  padding: 0 10px;
  margin: 0 8px 0 0;
  border-radius: 10px;
}

.view-workspaces-body .view-workspaces-search .view-workspaces-search-icon {
  font-size: 26px;
  color: #C4C4C4;
  cursor: pointer;
  margin: 0 10px 0 0;
}

.view-workspaces-body .view-workspaces-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -15px 15px 0 15px;
}

.view-workspaces-body .view-workspaces-top h1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.view-workspaces-body .view-workspaces-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px 50px 15px;
}

.view-workspaces-body .view-workspaces-middle p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.view-workspaces-body .view-workspaces-middle .view-workspaces-row-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin: 0 10px 0 0;
}

.view-workspaces-body .view-workspaces-middle .view-workspaces-grid-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.view-workspaces-body .view-workspaces-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body {
  margin: 0;
}

p {
  font-family: 'Poppins', sans-serif;
}

label {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #474747;
}

input, textarea {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #474747;
}

.whole-body {
  width: 100%;
}

.width-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 30px;
}

.sidebar-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 41px);
  margin: 41px 0 0 0;
}

.inner-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
}

.blue-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 36px;
  padding: 0 15px;
  background-color: #2383F3;
  border: none;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 36px;
  cursor: pointer;
}

.grey-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 36px;
  padding: 0 15px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 10px;
  border: 1px #E6E5E5 solid;
  color: #474747;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 36px;
  cursor: pointer;
}

.white-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 36px;
  padding: 0 15px;
  background-color: white;
  border: none;
  border-radius: 10px;
  border: 1px #E6E5E5 solid;
  color: #474747;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 36px;
  cursor: pointer;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  border-bottom: 1px #E6E5E5 solid;
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  color: #474747;
}

.header .header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 25px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #474747;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header .header-link:nth-child(1) {
  margin: 0 0 0 30px;
}

.header .header-link:nth-child(3) {
  margin: 0 40px 0 25px;
}

.header .header-link:hover {
  color: #5293DF;
}

.header .header-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 10px 0 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: thin;
  scrollbar-color: #E6E5E5 white;
  scrollbar-track-color: none;
}

.header .header-open p {
  font-size: 12px;
  color: #6D6D6D;
  cursor: default;
}

.header .header-open::-webkit-scrollbar {
  height: 3px;
  cursor: auto;
}

.header .header-open::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
}

.header .header-new-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #474747;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  margin: 0 25px 0 10px;
}

.header .header-new-project-icon {
  font-size: 20px;
  color: #2383F3;
}

.header span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .header-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 40px 0 0;
  text-decoration: none;
}

.header .header-account p {
  margin: 0 0 0 7px;
  color: #474747;
}

.header .header-account-icon {
  font-size: 20px;
  color: #474747;
}

.endWorkspaces {
  color: #5293DF;
  margin: 0 0 0 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loadWorkspaces {
  color: #5293DF;
  margin: 0 0 0 15px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blue {
  color: #5293DF;
}

.grey {
  color: #C4C4C4;
}
/*# sourceMappingURL=app.css.map */