@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import "variables";
@import "mixins";
@import "components";
@import "createItem";
@import "item";
@import "signin";
@import "account";
@import "viewItems";

body {
    margin: 0;
    background-color: $grey2;
}
p {
    font-family: 'Poppins', sans-serif;
}
label {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: $grey7;
    flex: 1;
}
input, textarea {
    font-family: 'Poppins', sans-serif;
    background-color: $grey4;
}
.whole-body {
    width: 100%;

    .main-body {
        display: flex;
        min-height: calc(100vh - 40px);
        margin: 40px 0 0 0;

        .sidebar {
            display: flex;
            flex-direction: column;
            height: calc(100vh - 70px);
            min-width: 300px;
            max-width: 300px;
            padding: 0 0 30px 0;
            overflow-y: auto;
            background-color: $grey3;
            -ms-overflow-style: none;
            scrollbar-width: none;

            .sidebar-divided {
                margin: 15px;
                border-top: 1px $grey4 solid;
            }
        }
        .sidebar::-webkit-scrollbar {
            display: none;
        }
        .inner {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: $grey2;
            padding: 15px 40px;

            .toggle-card-type {
                display: flex;
                align-items: center;
                margin: 0 0 25px 0;
                
                p {
                    color: $grey5;
                }
                span {
                    flex: 1;
                }
                .toggle-card-type-row-icon {
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
                    margin: 0 10px 0 0;
                }
                .toggle-card-type-grid-icon {
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
                }
            }
            .view-items-list {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}
.blue-button {
    width: fit-content;
    height: 36px;
    padding: 0 15px;
    background-color: $blue1;
    border-radius: 10px;
    border: none;
    color: $grey7;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 36px;
    cursor: pointer;
}
.blue-button:disabled {
    background-color: $blue2;
    cursor: not-allowed;
}
.black-button {
    width: fit-content;
    height: 36px;
    padding: 0 15px;
    background-color: $grey2;
    border-radius: 10px;
    border: none;
    color: $grey7;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 36px;
    cursor: pointer;
}
.white-button {
    width: fit-content;
    height: 36px;
    padding: 0 15px;
    background-color: $grey2;
    border-radius: 10px;
    border: none;
    color: $grey7;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 36px;
    cursor: pointer;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5000;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: $grey1;
    font-size: 14px;
    font-weight: 500;

    .header-link {
        display: flex;
        justify-content: center;
        margin: 0 25px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        color: $grey7;
        @include not-selectable();
    }
    .header-open {
        display: flex;
        width: fit-content;
        margin: 0 10px 0 0;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: thin;
        scrollbar-color: $grey2 white;
        scrollbar-track-color: none;

        p {
            font-size: 12px;
            color: $grey2;
            cursor: default;
        }
    }
    .header-open::-webkit-scrollbar {
        height: 3px;
        cursor: auto;
    }
    .header-open::-webkit-scrollbar-thumb {
        background-color: #dbdbdb;
    }
    span {
        flex: 1;
    }
    .header-account {
        display: flex;
        align-items: center;
        margin: 0 30px 0 0;
        text-decoration: none;
    }
    .header-account-icon {
        font-size: 20px;
        color: $grey7;
    }
}
.end-items {
    color: $grey5;
    margin: 25px 0 0 0;
    @include not-selectable()
}
.load-items {
    color: $grey5;
    margin: 25px 0 0 0;
    cursor: pointer;
    @include not-selectable()
}
.blue1 {
    color: $blue1;
}
.blue2 {
    color: $blue2;
}
.white {
    color: $grey7;
}
.page-not-found {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
}
.item-exist {
    margin: 30vh auto 0 auto;
}
::placeholder {
    font-family: 'Poppins', sans-serif;
    color: $grey5;
    letter-spacing: 0.05mm;
    font-size: 13px;
}
:-ms-input-placeholder {
    font-family: 'Poppins', sans-serif;
    color: $grey5;
    letter-spacing: 0.05mm;
    font-size: 14px;
}
::-ms-input-placeholder {
    font-family: 'Poppins', sans-serif;
    color: $grey5;
    letter-spacing: 0.05mm;
    font-size: 14px;
}